/target/
/src/main/resources/ftpConfig.properties
/src/main/resources/jdbc.properties
/src/main/resources/generatorConfig.xml
/src/main/webapp/img/
/src/main/webapp/test/
/src/main/java/com/sarige/tmall/controller/TestController.java
