<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启注解配置-->
    <context:annotation-config/>
    <!--开启包扫描-->
    <context:component-scan base-package="com.sarige.tmall.service"/>
    <!--引入数据库配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties,classpath:ftpConfig.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!--配置数据库基本信息（驱动类名，url，用户名，密码）-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--配置连接池属性（初始化大小，最小，最大）-->
        <property name="initialSize" value="1"/>
        <property name="minIdle" value="1"/>
        <property name="maxActive" value="20"/>
        <!--配置连接在连接池中的最小生存时间，单位毫秒-->
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <property name="validationQuery" value="SELECT 1"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
    </bean>

    <!--配置mybatis的SessionFactory-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties" value=""/>
                </bean>
            </array>
        </property>
    </bean>

    <!--Mybatis的mapper接口识别-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.sarige.tmall.mapper"/>
    </bean>



    <bean id="ftpMessage" class="com.sarige.tmall.util.FtpMessage">
        <property name="FTP_URL" value="${FTP.URL}"/>
        <property name="FTP_PORT" value="${FTP.PORT}"/>
        <property name="FTP_USERNAME" value="${FTP.USERNAME}"/>
        <property name="FTP_PASSWORD" value="${FTP.PASSWORD}"/>
    </bean>

    <bean class="com.sarige.tmall.util.FtpUtil" scope="prototype">
        <constructor-arg name="ftpMessage" ref="ftpMessage"/>
    </bean>

</beans>