<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sarige.tmall.mapper.CategoryMapper">

    <update id="update">
        update category
        set name =#{name}
        where id = #{id}
    </update>

    <select id="list" resultType="com.sarige.tmall.pojo.Category">
        select *
        from category
        order by id desc
        <if test="start!=null and count!=null">
            limit #{start} ,#{count}
        </if>
    </select>

    <select id="total" resultType="java.lang.Integer">
        select count(*)
        from category
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="com.sarige.tmall.pojo.Category">
        insert into category (name)
        values (#{name})
    </insert>

    <delete id="delete">
        delete
        from category
        where id = #{id}
    </delete>

    <select id="get" resultType="com.sarige.tmall.pojo.Category">
        select *
        from category
        where id = #{id}
    </select>

</mapper>
